@model Factory_Managment_Website.Models.Department

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Department</title>
</head>
<body>
<ul class="nav navbar-nav" style="float: top!important">
        @if (Session["username"] != null)
         {<li> @ViewBag.FullName logged in </li>
         <li>@Html.ActionLink("Logout", "Logout","HomePage") </li>}

    </ul>
<div>
    <form action="/Department/New" method="post">
        ID: @Html.TextBoxFor(x => x.ID) <br/>

        Department Name: @Html.TextBoxFor(x => x.Name) <br/>

        Manager ID: @Html.TextBoxFor(x => x.Manager_ID) <br/>

        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
