
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shifts List</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Shift ID</th>
                <th>Date </th>
                <th>Start time</th>
                <th>End time</th>
                <th>Employee</th>

            </tr>

            @foreach (var shift in ViewBag.shifts)
            {
                <tr>
                    <td>@shift.ID </td>
                    <td>@shift.Date </td>
                    <td>@shift.Start_time </td>
                    <td>@shift.End_time </td>
                    <td>
                        <table>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td> </td>
                            </tr>
                            @foreach (var e in shift.Employee_Shift)
                            {
                                <tr>
                                    <td>@e.Employee.ID</td>
                                    <td>@e.Employee.First_name</td>
                                    <td>@e.Employee.Last_name</td>
                                </tr>
                            }

                        </table>
                    </td>
                </tr>


            }
        </table>
        @Html.ActionLink("Add New Shift", "Add")
    </div>
</body>
</html>
